<div class="container">

<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this lightbulb from being saved:</h2>
 
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Update the product:</h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div class="form-group">
    <%= label_tag :input_name %>
    <%= text_field_tag(:input_name, @product.name, {class: "form-control", placeholder: "Enter the name here!"})%>
  </div>
  <div class="form-group">
    <%= label_tag :input_description %>
    <%= text_field_tag :input_description, @product.description, class: "form-control", placeholder: "Enter product description here!" %>
  </div>
  <div class="form-group">
    <%= label_tag :input_price %>
    <%= text_field_tag :input_price, @product.price, class: "form-control" %>
  </div>
  <div>
    <%= button_tag 'Update', class: "btn btn-default" %>
  </div>
<% end %>
</div>