

<div class = "index container">
  <div class = "row">
    <% @products.each do |product| %>
      <div class="media col-md-6">
        <div class = "well">
        <div class="media-left media-middle">
          <a href = "/products/<%= product.name %>" >
            <img class=" media-object" src = <%= product.image %> alt= <%= product.name%> >
          </a>
        </div>
        <div class="media-body index">
          <h4 class="media-heading"><a href ="/products/<%= product.id %>"> <%= product.name %> </a></h4>
          <h4 class="media price"> $<%= product.price %> </h5>
          <p> <%= product.description %> </p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>