

<div class="container">
<h1>Add a new product:</h1>
<%= form_tag'/products', method: :post do %>
  <div class="form-group">
    <%= label_tag :input_name %>
    <%= text_field_tag(:input_name, nil, {class: "form-control", placeholder: "Enter the name here!"})%>
  </div>
  <div class="form-group">
    <%= label_tag :input_description %>
    <%= text_field_tag :input_description, nil, class: "form-control", placeholder: "Enter product description here!" %>
  </div>
  <div class="form-group">
    <%= label_tag :input_price %>
    <%= text_field_tag :input_price, nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :input_image %>
    <%= text_field_tag :input_image, nil, class: "form-control" %>
  </div>
  <div>
    <%= button_tag 'Create', class: "btn btn-default" %>
  </div>
<% end %>
</div>