
<div class = "container">
  <h1><%= @product.sale_message %></h1>
  <h1>Product information:</h1>
  <h2><%= @product.name %></h2>
  <p>Description: <%= @product.description %></p>
  <p>Price: <%= @product.price %>, with Tax: <%= @product.calculate_tax%>, so Total Price of <%= @product.total_price %></p>
  <img src = "<%= @product.image %>">
  <div>
    <%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
  </div>
  <div>
    <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
  </div>
</div>