
<div class = "container">

  <div class="container">

    <h1 class = "sale-message"><%= @product.sale_message %></h1>
    
    <%= form_tag "/carted_products", method: :post do %>
      <div class="form-group">
        <%= label_tag :input_quantity %>
        <%= text_field_tag(:input_quantity)%>
      </div>
      <div class="form-group">
        <%= hidden_field_tag :input_product_id, @product.id %>
      </div>
      <div>
        <%= button_tag 'Add to cart!', class: "btn btn-default" %>
      </div>
    <% end %>

  </div>
  <h2><%= @product.name %></h2>
  <h5>Made by <%= @product.supplier.name %></h3>

  <div class="row">
    <% @product.images.each do |image_object| %>
        <div class="col-xs-6 col-md-3 show-image">
              <a href="#" class="thumbnail">
                <img src= <%= image_object.url %>  alt="...">
              </a>
        </div>
    <% end %>
  </div>

  <p>Description: <%= @product.description %></p>
  <p>Price: <%= @product.price %>, with Tax: <%= @product.calculate_tax%>, so Total Price of <%= @product.total_price %></p>
  <p>Categories: 
  <% @product.categories.each do |category| %>
      <a href="/products?category=<%= category.name %>"> <%= category.name %></a>
  <% end %>
    </p>



  <div>
    <%= link_to "Edit this product", "/products/#{@product.id}/edit" %>
  </div>
  <div>
    <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
  </div>


</div>