<%= form_for @supplier do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div>
    <%= f.submit submit_text%>
  </div>
<% end %>